
.ab-image {
    position: relative;
    & img{
        @media #{$xs}{
           width: 100%;
         }
    }
    &:before{
        position: absolute;
        height: 370px;
        width: 370px;
        background-image: -moz-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
        content: "";
        border-radius: 50%;
        left: -150px;
        bottom: -120px;
    }
}
.about-us-img {
    &:before{
        position: absolute;
        height: 140px;
        width: 140px;
        background-image: -moz-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
        background-image: -webkit-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
        background-image: -ms-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
        content: "";
        border-radius: 50%;
        right: 0;
        top: 110px;
        z-index: 9;
        @media #{$lg}{
           display: none;
        }
        @media #{$xs}{
            display: none;
         }
    }
}
.about-info {
	position: absolute;
	left: 0;
	bottom: 0;
    padding: 30px;
    & h2{
        font-size: 48px;
        color: $white;
        margin: 0;
    }
    & h5{
        color: $white;
	    font-size: 20px;
    }
}
.about-list {
    & h4 {
        color: #234969;
        font-size: 20px;
        margin-bottom: 15px;
    }
}
.about-list {
    & ul{
        & li {
            font-size: 16px;
            color: #565872;
            margin-bottom: 8px;
            padding-left: 20px;
            position: relative;
            &::before {
                position: absolute;
                left: 0;
                content: "";
                background: #216db7;
                height: 6px;
                width: 6px;
                border-radius: 30px;
                top: 9px;
            }
        }
    }
}
.about-cta {
    margin-left: 25px;
    @media #{$xs}{
        margin-left: 0;
        margin-top: 15px;
    }
    & span {
        margin-bottom: 4px;
        display: block;
    }
    & h3 {
        color: $theme-color;
        font-size: 20px;
        margin: 0;
    }
}

.ab-us-02{
    &::before{
        display: none;
    }
    & .about-info{
        display: none;
    }
    & .ab-image{
        &::before{
            display: none;
        }
    }
}