// brand
.brand-bg {
	box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	padding: 70px 90px;
	margin-top: -120px;
	position: relative;
	z-index: 99;
}
.slick-slide .single-brand {
    text-align: center;
}
.slick-slide .single-brand img {
    display: inline-block;
}

