.breadcrumb-area {
    background-position: center center;
    background-size: cover; 
    @media #{$lg}{
        padding-top: 180px;
        padding-bottom: 130px;
    }
    @media #{$md}{
        padding-top: 130px;
        padding-bottom: 130px;
    }
    @media #{$xs}{
        padding-top: 130px;
        padding-bottom: 130px;
    }
}
  
  .breadcrumb-text {
    position: relative;
    z-index: 1;
    & h1{
        font-size: 100px;
        margin-bottom: 25px;
        text-transform: capitalize;
        line-height: 1;
        color: $white;
            @media #{$lg}{
                font-size: 50px;
            }
            @media #{$laptop}{
                font-size: 60px;
            }
            @media #{$md}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
    }
    .breadcrumb-menu{
        & li{
            display: inline-block;
            position: relative;
            padding: 0 26px;
            &::before {
                content: "\f178";
                display: inline-block;
                padding-bottom: 0;
                position: absolute;
                top: 0;
                left: -11px;
                font-family: "Font Awesome 5 Pro";
                color: $white;
                font-size: 20px;
            }
            &:first-child::before {
                display: none; }
            & a{
                color: $white;
                font-size: 20px;
                text-transform: capitalize;
                transition: all 0.3s ease 0s;
                font-weight: 700; 
                opacity: .4;
                font-family: $poppins;
            }
            & span{
                color: $white;
                font-size: 20px;
                text-transform: capitalize;
                font-weight: 700;
                font-family: $poppins;
            }
        }
    }