.counter-area{
    margin-top: -150px;
}
.counter-wrapper{
    background: $white;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 40px 20px;
}
.counter-icon{
    position: relative;
    display: inline-block;
    & > i{
        height: 105px;
        width: 105px;
        line-height: 105px;
        text-align: center;
        background: $grey;
        border-radius: 50%;
        font-size: 33px;
        color:$blue;
    }
}
.counter-tag-icon {
    position: absolute;
    top: 0px;
    left: 52px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-image: -moz-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
    background-image: -webkit-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
    background-image: -ms-linear-gradient(0deg, #428cd4 0%, #004e9a 100%);
    transition: .3s;
    border-radius: 50%;
    & i{
        color:$white;
    }
}
.counter-wrapper{
    &:hover{
        & .counter-tag-icon{
        transform: translateX(-5PX);
        }
    }
}
 .counter-text{
     & h2{
         font-size: 56px;
         margin-bottom: 4px;
         margin-top: 30px;
     }
     & span{
         font-size: 14px;
         font-weight: 400;
         color:$blue;
         font-family: $poppins;
     }
 } 