/* 2. header */
.header-transparent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	transition: .4s;
}
.sticky {
	left: 0;
	margin: auto;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
	z-index: 9999;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	background: #fff;
}
.menu-3.sticky{
	background: $black;
  }
.menu-3.sticky{
	background: $black;
  }
  .header-top-info {
    & span {
        color: $body-text-color;
        font-size: 14px;
        font-weight: 500;
        margin-right: 40px;
		& i{
			font-size: 15px;
			color:$body-text-color;
			margin-right: 8px;
		}
		&:last-child{margin-right: 0;}
    }
}
.mail-header-icon{
	@media #{$laptop}{
		display: none;
	}
	@media #{$lg}{
		display: none;
	}
}
.header-lang {
	padding: 0 0 0;
	display: inline-block;
	& .lang-icon {
		& > a {
			font-size: 15px;
			color: $black;
			margin-left: 5px;
			font-weight: 400;
			& i{
				font-size: 14px;
				position: relative;
				left: 2px;
			}
		}
	}
	&:hover{
		& .header-lang-list {
			opacity: 1;
			visibility: visible;  
		}
	}
}
.header-lang-list {
	position: absolute;
	width: 120px;
	opacity: 0;
	visibility: hidden;
	padding: 20px 15px;
	border-top: 3px solid $theme-color;
	transition: .4s;
	z-index: 999;
	background: #fff;
	padding-bottom: 5px;
	padding-top: 4px;
	top: 100%;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	transition: .3s;
    & li {
        display: block;
        margin-bottom: 0;
        padding: 5px 0;
        & a{
            display: block;
            color: #647589;
            font-size: 13px;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.pos-rel {
	position: relative;
}
.header-right{
	z-index: 9;
	position: relative;
}
.header-icon{
	@media #{$lg}{
		margin-right: 10px;
	}
	& i{
		height: 40px;
		width: 40px;
		line-height: 40px;
		background: $white;
		text-align: center;
		border-radius: 50%;
		font-size: 16px;
		color:$theme-color;
	}
}
.header-info{
	overflow: hidden;
	& span{
		color: $white;
		font-weight: 400;
		font-size: 16px;
	}
	& h5{
		color:$white;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 700;
		@media #{$laptop}{
			font-size: 14px;
		}
	}
}
.header-02-icon {
	margin-left: 24px;
	padding-left: 24px;
	position: relative;
	&::before{
		position: absolute;
		content: "";
		height: 20px;
		width: 1px;
		background: #d3d4d6;
		left: 0;
		top:3px;
	}
	& a {
		color:#646970;
		font-size: 14px;
		display: inline-block;
		text-align: center;
		margin-right: 13px;
		transition: .3s;
		&:last-child{margin-right: 0;}
		&:hover{color:$theme-color;}
	}
}
.header-2-right{
	& .header-info{
		& span{
			color: $black;
		}
		& h5{
			color:$black;
		}
	}
}
.header-2-right{
	& .header-icon{
		& i{
			background-image: -moz-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
			color:$white;
		}
	}
}

.header-button{
	margin-top: 26px;
	@media #{$lg}{
		display: none;
	}
	& a.c-btn{
		padding: 16px 37px;
	}
}
/* menu */
.menu-bg{
	background:rgba(34,47,90,.8);
	position: relative;
	@media #{$laptop}{
		padding-right: 20px;
	}
	@media #{$lg}{
		padding-right: 20px;
	}
	@media #{$xs}{
		padding-right: 0px;
		padding-top: 17px;
		padding-bottom: 0;
	}
	&::after{
		position: absolute;
		content: "";
		width:256px;
		height: 100px;
		background-image: -moz-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
		right: 0;
		top: 0;
		@media #{$md}{
			display: none;
        }
		@media #{$xs}{
			display: none;
        }
	}
	&::before{
		position: absolute;
		content: "";
		width:460px;
		height: 145px;
		background: $white;
		left: 0;
		top: 0;
		clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
		@media #{$laptop}{
			width:280px;
			height: 124px;
        }
		@media #{$lg}{
			width:280px;
			height: 124px;
        }
		@media #{$md}{
			width:360px;
			height: 100px;
        }
		@media #{$xs}{
			width:200px;
			height: 100%;
			clip-path: inherit;
        }
	}
	& .logo {
		padding-left: 55px;
		transform: translateY(19px);
		@media #{$laptop}{
			padding-left: 15px;
			transform: translateY(14px);
        }
		@media #{$lg}{
			padding-left: 15px;
			transform: translateY(14px);
        }
		@media #{$md}{
			padding-left: 15px;
        }
		@media #{$xs}{
			padding-left: 0;
			transform: inherit;
		}
		& img{
			@media #{$laptop}{
				width: 180px;
			}
			@media #{$xs}{
				width: 150px;
			}
		}
	}
	& .main-menu {
		margin-left: 50px;
		@media #{$lg}{
			margin-left: 20px;
        }
	}
}
.menu-2{
	& .logo {
		transform: translateY(-13px);
		@media #{$md}{
			transform: none;
		}
		@media #{$xs}{
			transform: none;
		}
		& img{
			@media #{$md}{
				width: 180px;
			}
			@media #{$xs}{
				width: 150px;
			}
		}
	}
	& .header-2-right{
		transform: translateY(-13px);
	}
	@media #{$laptop}{
		padding-right: 20px;
		padding-left: 20px;
	}
	@media #{$lg}{
		padding-right: 0;
		padding-left: 0;
	}
	@media #{$md}{
		padding-right: 0;
		padding-left: 0;
		padding-top: 15px;
	}
	@media #{$xs}{
		padding-right: 0;
		padding-top: 15px;
		padding-left: 0;
	}
	& .mean-container a.meanmenu-reveal{
		@media #{$md}{
			margin-top: -45px;
		}
		@media #{$xs}{
			margin-top: -41px;
		}
	}
}
.menu-2-area {
	background: $white;
	border-top: 3px solid $theme-color;
	margin-bottom: -48px;
	position: relative;
	z-index: 99;
	padding: 0 40px;
	margin-top: 21px;
} 
.main-menu{
	& ul{
		& li{
			display: inline-block;
			position: relative;
			margin-right: 48px;
			&:last-child{
				margin-right: 0;
			}
			@media #{$lg}{
				margin-right: 25px;
			}
			@media #{$laptop}{
				margin-right: 17px;
			}
			& a{
				display: block;
				font-size: 15px;
				padding: 42px 0;
				-webkit-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				background: transparent;
				line-height: 1;
				position: relative;
				text-transform: capitalize;
				color: $white;
				font-weight: 500;
				& i{
					font-size: 12px;
					margin-left: 3px;
				}
			}
			&:hover > a {
				color:$theme-color;
			}
		}
	}
}
.menu-box{
	& ul {
		& li {
			& a {
				color: $black;
			}
		}
	}
}
/* sub-menu */
.main-menu {
	& ul {
		& li{
			& .sub-menu {
				background: #ffffff none repeat scroll 0 0;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
				left: 0;
				opacity: 0;
				position: absolute;
				top: 120%;
				transition: all 0.3s ease 0s;
				visibility: hidden;
				width: 220px;
				z-index: 9;
				border-top:3px solid $theme-color;
				text-align: left;
				padding: 15px 0;
				& li{
					display:block;
					margin: 0;
					& a{
						color: #666666;
						font-size: 14px;
						margin: 0;
						padding: 13px 20px;
						text-transform: capitalize;
						display: block;
						font-size: 400;
						&:hover{
							color: $theme-color;
						}
					}
				}
			  }
			  &:hover > .sub-menu{
				opacity:1;
				top:100%;
				visibility:visible;
			  }
		}
	}
}
