.skill-area {
	background-size: cover;
    background-position: center center;
    @media #{$xs}{
        padding-bottom: 75px;
    }
}
.progress-circular input {
	font-size: 40px !important;
	font-weight: 700;
	line-height: 1;
}
.our-skills-content{
    & h4{
        color: $white;
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 21px;
        font-weight: 400;
        font-family: $rubik;
    }
}
.skill-parent .col-xl-3:nth-child(2) .skills-wrapper {
    transform: translateY(120px);
    @media #{$xs}{
        transform: translateY(0);
    }
   }
.skill-parent .col-xl-3:nth-child(4) .skills-wrapper {
    transform: translateY(120px);
    @media #{$xs}{
        transform: translateY(0);
    }
   }